<div class="header">
  <a class="logo">CompanyLogo</a>
  <div class="header-default">
    <a class="active" [routerLink]="['/crusline']">Home</a>
    <a [routerLink]="['/psg']">Contact</a>
    <a [routerLink]="['/some']">Viewparent</a>
    <a [routerLink]="['/something']">Viewchild</a>
    <a [routerLink]="['/share']">Sparent</a>
    <a [routerLink]="['/sharing']">Sparent1</a>
    <a [routerLink]="['/sharedata']">Sparent2</a>
  </div>
</div>
<!-- <app-parentv></app-parentv> -->
<router-outlet></router-outlet>